
.mat-toolbar{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon{
    background-color: transparent;
    border-color: transparent;
}

.mat-icon{
    color: var(--background-color);
}

.mat-form-field {
    font-size: medium;
    padding-left: 0.5em;
    width: 120px;
}

.mat-raised-button{
    color : var(--primary-color);
}

